<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add New Category</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="overlay"></div>
  <div class="card">
    <h2>➕ Update Category</h2>
    <form method="post">
      <div>
        <label for="category">Category Name</label>
        <input type="text" id="category" name="cname" value="{{cats[1]}}" required>
      </div>
      <button type="submit">Update Category</button>
    </form>
    <p class="note">Easily manage your food categories 🍔🍕🥗</p>
  </div>
</body>
</html>
